body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}

.oranged-Color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 7%;
    margin-right: 7px;
}
 .half-width img{
     width: 80%;
 }

 .button{
     text-decoration: none;
     background-image: linear-gradient(orange, tomato);
     padding: 10px 40px;
     border-radius: 5%;
     color: white;
     font-weight: 700;
 }

 .top-banner{
     background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
 }

 .dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 }

 .half-width1{
    width: 50%;
    padding-left: 7%;
    margin-right: 200px;
 }

 .experience-item{
    width: 50%;
    padding-left: 7%;
    margin-right: 7px;
    box-shadow: 10px 10px 40px gray;
    width: 42%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 45px;  
    border-left: 10px solid; 
 }

 #box1{
    border-left: 9px solid;
    border-image: linear-gradient(rgb(228, 99, 84),salmon);
    border-image-slice: 1;
}

 #box2{
     border-left: 9px solid;
     border-image: linear-gradient(blue,cyan);
     border-image-slice: 1;
 }

 .heading{
     font-size: 38px;
 }

 .experience{
     background-image: url(images/exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
 }

 footer p{
     text-align: center;
 }